/GraphicsManagerLib/bin/Debug/GameGraphicsLib.dll
/GraphicsManagerLib/bin/Debug/GraphicsManagerLib.dll
/GraphicsManagerLib/bin/Debug/GraphicsManagerLib.pdb
/GraphicsManagerLib/bin/Debug/MonoGame.Framework.dll
/GraphicsManagerLib/bin/Debug/MonoGame.Framework.xml
/GraphicsManagerLib/bin/Debug/SharpDX.DXGI.dll
/GraphicsManagerLib/bin/Debug/SharpDX.Direct2D1.dll
/GraphicsManagerLib/bin/Debug/SharpDX.Direct3D11.dll
/GraphicsManagerLib/bin/Debug/SharpDX.Direct3D9.dll
/GraphicsManagerLib/bin/Debug/SharpDX.MediaFoundation.dll
/GraphicsManagerLib/bin/Debug/SharpDX.RawInput.dll
/GraphicsManagerLib/bin/Debug/SharpDX.XAudio2.dll
/GraphicsManagerLib/bin/Debug/SharpDX.XInput.dll
/GraphicsManagerLib/bin/Debug/SharpDX.dll
/GraphicsManagerLib/bin/Release/GameGraphicsLib.dll
/GraphicsManagerLib/bin/Release/GameGraphicsLib.pdb
/GraphicsManagerLib/bin/Release/GraphicsManagerLib.dll
/GraphicsManagerLib/bin/Release/GraphicsManagerLib.pdb
/GraphicsManagerLib/bin/Release/MonoGame.Framework.dll
/GraphicsManagerLib/bin/Release/MonoGame.Framework.xml
/GraphicsManagerLib/bin/Release/SharpDX.DXGI.dll
/GraphicsManagerLib/bin/Release/SharpDX.Direct2D1.dll
/GraphicsManagerLib/bin/Release/SharpDX.Direct3D11.dll
/GraphicsManagerLib/bin/Release/SharpDX.Direct3D9.dll
/GraphicsManagerLib/bin/Release/SharpDX.MediaFoundation.dll
/GraphicsManagerLib/bin/Release/SharpDX.RawInput.dll
/GraphicsManagerLib/bin/Release/SharpDX.XAudio2.dll
/GraphicsManagerLib/bin/Release/SharpDX.XInput.dll
/GraphicsManagerLib/bin/Release/SharpDX.dll
